<% layout('../layout') -%>
<div class="content-page list-page">
   <!-- Start content -->
   <div class="content">
      <div class="container">
         <div class="row">
            <div class="col-xs-12">
               <div class="page-title-box">
                  <h4 class="page-title">List Category </h4>
                  <a href="/admin/category/add" class="btn btn-success btn-xs go-btn pull-right">Add New</a>                  
                  <div class="clearfix"></div>
               </div>
            </div>
         </div>
         <!-- end row -->
		 <% if ( error.length > 0 ) { %>
		<div class="alert alert-danger fade in alert-dismissible">
			<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
			<i></i><i class="fa fa-exclamation-triangle"></i> <%= error %>
		</div>
		<% } %>
		<% if ( success.length > 0 ) { %>
		<div class="alert alert-success fade in alert-dismissible" style="margin-top:18px;">
			<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a><i class="fa fa-check"></i> <%= success %>
		</div>
		<% } %>
         <div class="row">
		   <div class="col-sm-12">
			  <div class="card-box">
				 <div class="row">
					<div class="col-md-12">
					   <div class="demo-box">
						  <div class="table-responsive">
							 <table class="table m-0 table-colored table-success">
								<thead>
								   <tr>
									  <th>S.No.</th>
									  <th>Category Name</th>
									  <th>Created At</th>
									  <th>Updated At</th>
									  <th class="text-center">Status</th>
									  <th class="text-center">Action</th>
								   </tr>
								</thead>
								<tbody>
								   <% for(var i=0; i < resultSet.length; i++) { %>
								   <tr>
									  <td><%=(i+1)%></td>
									  <td class="capitalize"><%=resultSet[i].category%></td>
									  <td><%=moment(resultSet[i].createdAt).format("MMM-DD-YYYY h:m A")%></td>
									  <td><%=moment(resultSet[i].updatedAt).format("MMM-DD-YYYY h:m A")%></td>
									  <% if(resultSet[i].status == 1) { %>
									  <td class="text-center"><a class="btn btn-success btn-xs act-inc">Active</a></td>
									  <% } else { %>
									  <td class="text-center"><a class="btn btn-danger btn-xs act-inc">Inactive</a></td>
									  <% } %>
									  <td class="text-center"><a href="/admin/category/edit/<%=resultSet[i]._id%>" style="color:#797979;" title="Edit"><i class="fa fa-pencil"></i></a></td>
								   </tr>
								   <% } %>
								   <tr class="text-right">
									   <td colspan="6">
										   <% if (pages > 0) { %>
												<ul class="pagination text-center">
													<% if (current == 1) { %>
														<li class="disabled"><a>First</a></li>
													<% } else { %>
														<li><a href="/admin/category/list/1">First</a></li>
													<% } %>
													<% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
													<% if (i !== 1) { %>
														<li class="disabled"><a>...</a></li>
													<% } %>
													<% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
														<% if (i == current) { %>
															<li class="active"><a><%= i %></a></li>
														<% } else { %>
															<li><a href="/admin/category/list/<%= i %>"><%= i %></a></li>
														<% } %>
														<% if (i == Number(current) + 4 && i < pages) { %>
															<li class="disabled"><a>...</a></li>
														<% } %>
													<% } %>
													<% if (current == pages) { %>
														<li class="disabled"><a>Last</a></li>
													<% } else { %>
														<li><a href="/admin/category/list/<%= pages %>">Last</a></li>
													<% } %>
												</ul>
											<% } %>
										</td>
								   </tr>
								</tbody>
							 </table>
						  </div>
					   </div>
					</div>
				 </div>
			  </div>
			  <!-- end card-box -->
		   </div>
		   <!-- end col -->
		</div>
         <!-- end row -->
      </div>
      <!-- container -->
   </div>
</div>
<script>
setTimeout(function(){ 
	$(".alert").fadeOut('slow'); 
}, 3000);
</script>